.delicious {
    color: #000;
    padding-top: 100px;
    padding-bottom: 100px;
    @media (max-width: 1199px) {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    @media (max-width: 575px) {
        padding-bottom: 25px;
        padding-top: 25px;
    }
}
.categories {
    display: flex;
    justify-content: center;
    color: #333333;
    margin: 30px 0;
    @media (max-width: 767px) {
        flex-wrap: wrap;
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
    }
    &__btn {
        background: none;
        border: none;
        outline: none;
        padding: 10px 25px;
        font-weight: 700;
        color: inherit;
        text-transform: uppercase;
        // @media (max-width: 539px) {
        border-bottom: 1px solid rgba($color: #333333, $alpha: 0.3);
        margin: 0 5px;
        &:hover,
        &.active {
            border-bottom: 1px solid rgba($color: #e8c300, $alpha: 1);
        }

        // }
        
    }
    // li:not(:last-child) &__btn {
    //     border-right: 1px solid rgba($color: #333333, $alpha: 0.3);
    //     @media (max-width: 539px) {
    //         border-right: none;
    //     }
    // }
}
.menu-dish {
    overflow: hidden;
    color: #333333;
    transition: height 400ms;
    &__section {
        display: none;
        opacity: 0;
        transition: all 200ms;
        transform: translateX(-100%);
        justify-content: space-between;
        flex-wrap: wrap;
        
        &.active {
            // display: flex;
            opacity: 1;
            transform: translateX(0);
        }
    }
}
.dish {
    width: 30%;
    
    &:not(:last-child) {
        margin-bottom: 15px;
    }
    &:last-child &__desc {
        margin-bottom: 0;
    }

    @media (max-width: 767px) {
        width: calc(50% - 5px);
        &:nth-child(odd) {
            margin-right: 10px;
        }
    }
    @media (max-width: 575px) {
        width: calc(100%);
        &:nth-child(odd) {
            margin-right: 0
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__name {
        margin-bottom: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 10px;
    }
    &__price {
        margin-bottom: 0;
        white-space: nowrap;
    }


}