.promo {
    background-image: url(../images/dist/header-bg.png);
    background-size: cover;
    background-position: top center;
    height: 100vh;
    color: #fff;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        align-self: baseline;
    }
    &-title {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
        padding: 0 10px;
        &__main {
            font-family: Fascinate;
            font-size: 96px;
            line-height: 1;
            position: relative;
            padding-bottom: 15px;
            &:before {
                content: "";
                display: block;
                width: 60px;
                height: 4px;
                border-radius: 2px;
                background: #E8C300;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__sub {
            margin-bottom: 10px;
        }

    }
    .container {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
    }
}

.menu {
    display: flex;
    &__link {
        color: #fff;
        padding: 15px;
        display: block;
    }
}
.header {
    display: flex;
    justify-content: center;
    width: 100%;
}
.mode {
    writing-mode: vertical-rl;
    color: #fff;
}

.social {
    &__item {
        display: block;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    
}

.btn-row {
    display: flex;
    justify-content: center;
    
}
.btn {
    display: block;
    padding: 20px 10px;
    border: 1px solid #fff;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    border-radius: 2px;
    color: #fff;
    transition: all 400ms;
    text-decoration: none;
    margin: 0 15px;
    &:hover {
        background: #E8C300;
        border: 1px solid #E8C300;
        transition: all 400ms;
        color: #fff;
        text-decoration: none;

    }
}