.specialties {
    color: #fff;
    padding-bottom: 100px;
    background-image: url(../images/dist/specialties-bg.jpg);
    background-position: center;
    background-size: cover;
    @media (max-width: 1199px) {
        padding-bottom: 50px;
    }
    @media (max-width: 575px) {
        padding-bottom: 25px;
    }
}